<div class="col-12 p-1">
  <cdk-virtual-scroll-viewport [style.height.px]="gridHeight" [fmTableData]="dataSource" rowHeight="45" offset="46"
    [bufferSize]="gridHeight/(45 * 7)" (scrolledIndexChange)="onScrolledIndexChange($event)">
    <table class="table table-condensed table-striped" cdk-table cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">

      <ng-container *ngFor="let col of displayedColumns" [cdkColumnDef]="col">
        <th cdk-header-cell *cdkHeaderCellDef [fmSortable]="col" [style.top]="inverseOfTranslation"
          (sort)="onSort($event)" cdkDrag> {{ col | titlecase }}
        </th>
        <td cdk-cell *cdkCellDef="let element"> {{element[col]}} </td>
      </ng-container>

      <thead>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
      </thead>
      <tbody>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
