<fm-card styleClass="border-primary tabbed-card mt-2">
  <fm-header>
    <div class="row">
      <span class="material-icons mx-2" (click)="goBack()">
        arrow_back
      </span>Detail View
    </div>
  </fm-header>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Person Detail</a>
      <ng-template ngbNavContent>
        <fm-person-detail [data]="data"></fm-person-detail>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Accounts</a>
      <ng-template ngbNavContent>
        <fm-accounts [data]="data?.card?.accountHistory"></fm-accounts>
      </ng-template>
    </li>
    <li class="ml-auto my-auto">
      <button type="button" class="btn btn-primary btn-sm">Edit</button>
      <button type="button" class="btn btn-secondary mx-2 btn-sm">Delete</button>
      <button type="button" class="btn btn-dark mr-2 btn-sm">Terminate</button>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</fm-card>
