<div class="container">
  <div class="row justify-content-center align-items-center">
    <!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container [ngClass]="{'full-screen': isFullScreen, 'small-screen': !isFullScreen}">

      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" [showBackdrop]="true" [closeOnClickBackdrop]="true"
        [mode]="isFullScreen ? 'slide' : 'over'" sidebarClass="alert alert-info mb-0">
        <p>Sidebar contents</p>
        <a closeSidebar>Closes the sidebar</a>
      </ng-sidebar>

      <ng-sidebar [(opened)]="_options" [showBackdrop]="true" [closeOnClickBackdrop]="true"
        sidebarClass="alert alert-primary mb-0" position="right">
        <fm-column-select-sort class="h-100" [selectedColumns]="displayedColumns"
          [completeColumnList]="completeColumnList" (finalSelection)="_toggleColumn($event)">
        </fm-column-select-sort>
      </ng-sidebar>

      <!-- Page content -->
      <div ng-sidebar-content>
        <fm-card title="Student Table" subtitle="Grade of student" styleClass="border-primary"
          [isCardExpanded]="isFullScreen">
          <fm-header>
            Journal <span class="float-right material-icons" (click)="toggleFullScreen()">
              {{isFullScreen ? 'fullscreen_exit' : 'fullscreen'}}
            </span>
          </fm-header>
          <!--  [dataSource]="studentDataSource" -->
          <fm-table [displayedColumns]="displayedColumns" [dataSource]="studentDataSource"
            [gridHeight]="isFullScreen ? 600 : 226" (sortOptions)="onSort($event)"
            (scrolledIndexChange)="onScrolledIndexChange($event)">
          </fm-table>
          <fm-footer>
            <div class="row justify-content-end mx-1">
              <button type="button" label="Filter" class="btn btn-primary mr-2"
                (click)="_toggleSidebar()">Filter</button>
              <button type="button" label="Column" class="btn btn-secondary" (click)="_toggleColumn()">Column
                Options</button>
            </div>
          </fm-footer>
        </fm-card>
      </div>

    </ng-sidebar-container>
  </div>
</div>
